*{
    margin: 0;
    padding: 0;
}
html,body,#app,.home{
    width:100%;
    height: 100%;
    overflow: hidden;
}
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color:#777777;
}
.content{
    background: none repeat scroll 0 0 #f0f3f4;
    position: absolute;
    left: 240px;
    right: 0;
    top: 66px;
    bottom: 0;
    width: auto;
    padding:15px;
    box-sizing: border-box;
    overflow-y: auto;
}